<settings>   
	<setting propertyKey="@Properties.openWeatherAPIVersion" title="@Strings.OpenWeatherAPIVersion" prompt="@Strings.OpenWeatherAPIVersionPrompt">
        <settingConfig type="list">
            <listEntry value="0">@Strings.OpenWeatherAPIVersion25</listEntry>
            <listEntry value="1">@Strings.OpenWeatherAPIVersion30</listEntry>                        
        </settingConfig>
    </setting>
 	<setting propertyKey="@Properties.openWeatherAPIKey" title="@Strings.OpenWeatherAPIKey">
		<settingConfig type="alphanumeric" />
	</setting>	
	<setting propertyKey="@Properties.openWeatherProxy" title="@Strings.OpenWeatherProxy">
		<settingConfig type="alphanumeric" />
	</setting>
	<setting propertyKey="@Properties.openWeatherProxyAPIKey" title="@Strings.OpenWeatherProxyAPIKey">
		<settingConfig type="alphanumeric" />
	</setting>       					
    
	<setting propertyKey="@Properties.testScenario" title="@Strings.TestScenario">
		<settingConfig type="numeric" min="0" max="2" />		
	</setting>
</settings>
