<settings>
	<setting propertyKey="@Properties.weatherDataSource" title="@Strings.WeatherDataSource" prompt="@Strings.WeatherDataSourcePrompt">
        <settingConfig type="list">
            <listEntry value="0">@Strings.WeatherDataSourceGarminFirst</listEntry>
            <listEntry value="1">@Strings.WeatherDataSourceOWMFirst</listEntry>            
            <listEntry value="2">@Strings.WeatherDataSourceGarmin</listEntry>
            <listEntry value="3">@Strings.WeatherDataSourceOWM</listEntry>            
        </settingConfig>
    </setting>
 	<setting propertyKey="@Properties.openWeatherAPIKey" title="@Strings.OpenWeatherAPIKey">
		<settingConfig type="alphanumeric" />
	</setting>	
	<setting propertyKey="@Properties.openWeatherProxy" title="@Strings.OpenWeatherProxy">
		<settingConfig type="alphanumeric" />
	</setting>
	<setting propertyKey="@Properties.openWeatherProxyAPIKey" title="@Strings.OpenWeatherProxyAPIKey">
		<settingConfig type="alphanumeric" />
	</setting>

	<setting propertyKey="@Properties.showCurrentForecast" title="@Strings.ShowCurrentForecast">
		<settingConfig type="boolean" />
	</setting>
	<setting propertyKey="@Properties.maxHoursForecast" title="@Strings.MaxHoursForecast">
		<settingConfig type="numeric" min="0" max="12" />
	</setting>	
	<setting propertyKey="@Properties.showWind" title="@Strings.ShowWind" prompt="@Strings.ShowWindPrompt">
		 <settingConfig type="list">
            <listEntry value="0">@Strings.ShowWindNothing</listEntry>
            <listEntry value="1">@Strings.ShowWindMeters</listEntry>            
			<listEntry value="2">@Strings.ShowWindKilometers</listEntry>            
            <listEntry value="3">@Strings.ShowWindBeaufort</listEntry>            
        </settingConfig>
	</setting>
	<setting propertyKey="@Properties.showTemperature" title="@Strings.ShowTemperature">
		<settingConfig type="boolean" />
	</setting>
	<setting propertyKey="@Properties.showRelativeHumidity" title="@Strings.ShowRelativeHumidity">
		<settingConfig type="boolean" />
	</setting>
	<setting propertyKey="@Properties.showComfort" title="@Strings.ShowComfort">
		<settingConfig type="boolean" />
	</setting>
	<setting propertyKey="@Properties.showWeatherCondition" title="@Strings.ShowWeatherCondition">
		<settingConfig type="boolean" />
	</setting>
	<setting propertyKey="@Properties.showClouds" title="@Strings.ShowClouds">
		<settingConfig type="boolean" />
	</setting>
	<setting propertyKey="@Properties.showPressure" title="@Strings.ShowPressure">
		<settingConfig type="boolean" />
	</setting>
	<setting propertyKey="@Properties.showDewpoint" title="@Strings.ShowDewpoint">
		<settingConfig type="boolean" />
	</setting>
	<setting propertyKey="@Properties.showUVIndex" title="@Strings.ShowUVIndex">
		<settingConfig type="boolean" />
	</setting>
	<setting propertyKey="@Properties.hideUVIndexLowerThan" title="@Strings.HideUVIndexLowerThan">
		<settingConfig type="numeric" min="-1" />
	</setting>
	<setting propertyKey="@Properties.maxUVIndex" title="@Strings.MaxUVIndex">
		<settingConfig type="numeric" min="0" max="50"/>
	</setting>		
	
    <setting propertyKey="@Properties.showInfo" title="@Strings.ShowInfo" prompt="@Strings.ShowInfoPrompt">
        <settingConfig type="list">
            <listEntry value="0">@Strings.ShowInfoNothing</listEntry>
            <listEntry value="1">@Strings.ShowInfoTimeOfDay</listEntry>            
            <listEntry value="2">@Strings.ShowInfoTemperature</listEntry>
			<listEntry value="3">@Strings.ShowInfoAmbientPressure</listEntry>
			<listEntry value="4">@Strings.ShowInfoSealevelPressure</listEntry>
        </settingConfig>
    </setting>      
	 <setting propertyKey="@Properties.showInfo2" title="@Strings.ShowInfo" prompt="@Strings.ShowInfoPrompt">
        <settingConfig type="list">
            <listEntry value="0">@Strings.ShowInfoNothing</listEntry>
            <listEntry value="1">@Strings.ShowInfoTimeOfDay</listEntry>            
            <listEntry value="2">@Strings.ShowInfoTemperature</listEntry>
			<listEntry value="3">@Strings.ShowInfoAmbientPressure</listEntry>
			<listEntry value="4">@Strings.ShowInfoSealevelPressure</listEntry>
        </settingConfig>
    </setting>      
	
	<setting propertyKey="@Properties.alertLevelPrecipitationChance" title="@Strings.AlertLevelprecipitationChance">
		<settingConfig type="numeric" min="0" max="100" />
	</setting>	
	<setting propertyKey="@Properties.alertLevelRainMMfirstHour" title="@Strings.AlertLevelRainMMfirstHour">
		<settingConfig type="numeric" min="0" max="100" />
	</setting>
	<setting propertyKey="@Properties.alertLevelUVi" title="@Strings.AlertLevelUVi">
		<settingConfig type="numeric" min="0" max="20" />
	</setting>
	<setting propertyKey="@Properties.alertLevelWindSpeed" title="@Strings.AlertLevelWindSpeed">
		<settingConfig type="numeric" min="0" />
	</setting>	
	<setting propertyKey="@Properties.alertLevelDewpoint" title="@Strings.AlertLevelDewpoint">
		<settingConfig type="numeric" min="0" />
	</setting>	
	<setting propertyKey="@Properties.comfortHumidityMin" title="@Strings.ComfortHumidityMin">
		<settingConfig type="numeric" min="0" max="100" />
	</setting>
	<setting propertyKey="@Properties.comfortHumidityMax" title="@Strings.ComfortHumidityMax">
		<settingConfig type="numeric" min="0" max="100" />
	</setting>
	<setting propertyKey="@Properties.comfortTempMin" title="@Strings.ComfortTempMin">
		<settingConfig type="numeric" min="0" max="100" />
	</setting>
	<setting propertyKey="@Properties.comfortTempMax" title="@Strings.ComfortTempMax">
		<settingConfig type="numeric" min="0" max="100" />
	</setting>
	<setting propertyKey="@Properties.comfortPopMin" title="@Strings.ComfortPopMin">
		<settingConfig type="numeric" min="0" max="100" />
	</setting>
	<setting propertyKey="@Properties.comfortPopMax" title="@Strings.ComfortPopMax">
		<settingConfig type="numeric" min="0" max="100" />
	</setting>
	<setting propertyKey="@Properties.showObservationTime" title="@Strings.ShowObservationTime">
		<settingConfig type="boolean" />
	</setting>
	<setting propertyKey="@Properties.observationTimeDelayedMinutesThreshold" title="@Strings.ObservationTimeDelayedMinutesThreshold">
		<settingConfig type="numeric" min="0" max="60" />
	</setting>	
	<setting propertyKey="@Properties.showObservationLocationName" title="@Strings.ShowObservationLocationName">
		<settingConfig type="boolean" />
	</setting>
	<setting propertyKey="@Properties.showAlertLevel" title="@Strings.ShowAlertLevel">
		<settingConfig type="boolean" />
	</setting>
	<setting propertyKey="@Properties.showPrecipitationChanceAxis" title="@Strings.ShowPrecipitationChanceAxis">
		<settingConfig type="boolean" />
	</setting>		
	<setting propertyKey="@Properties.dashesUnderColumnHeight" title="@Strings.DashesUnderColumnHeight">
		<settingConfig type="numeric" min="0" max="4" />
	</setting>	
    <setting propertyKey="@Properties.showColumnBorder" title="@Strings.ShowColumnBorder">
		<settingConfig type="boolean" />
	</setting>					
	<setting propertyKey="@Properties.showGlossary" title="@Strings.ShowGlossary">
		<settingConfig type="boolean" />
	</setting>		

	<setting propertyKey="@Properties.updateFrequencyWebReq" title="@Strings.UpdateFrequencyWebReq">
		<settingConfig type="numeric" min="5" />
	</setting>

	<setting propertyKey="@Properties.minimalGPSquality" title="@Strings.MinimalGPSquality" 
	prompt="@Strings.MinimalGPSqualityPrompt">
        <settingConfig type="list">
            <listEntry value="0">@Strings.GpsQualityNotAvailable</listEntry>
            <listEntry value="1">@Strings.GpsQualityLastKnown</listEntry>            
            <listEntry value="2">@Strings.GpsQualityPoor</listEntry>            
            <listEntry value="3">@Strings.GpsQualityUsable</listEntry>            
            <listEntry value="4">@Strings.GpsQualityGood</listEntry>            	
        </settingConfig>
    </setting>    	
</settings>
