<settings>   
	<setting propertyKey="@Properties.openWeatherAPIVersion" title="@Strings.OpenWeatherAPIVersion" prompt="@Strings.OpenWeatherAPIVersionPrompt">
        <settingConfig type="list">
            <listEntry value="0">@Strings.OpenWeatherAPIVersion25</listEntry>
            <listEntry value="1">@Strings.OpenWeatherAPIVersion30</listEntry>                        
        </settingConfig>
    </setting>
 	<setting propertyKey="@Properties.openWeatherAPIKey" title="@Strings.OpenWeatherAPIKey">
		<settingConfig type="alphanumeric" />
	</setting>	
	<setting propertyKey="@Properties.openWeatherProxy" title="@Strings.OpenWeatherProxy">
		<settingConfig type="alphanumeric" />
	</setting>
	<setting propertyKey="@Properties.openWeatherProxyAPIKey" title="@Strings.OpenWeatherProxyAPIKey">
		<settingConfig type="alphanumeric" />
	</setting>

	<setting propertyKey="@Properties.maxUVIndex" title="@Strings.MaxUVIndex">
		<settingConfig type="numeric" min="0" max="50"/>
	</setting>		
	
    <setting propertyKey="@Properties.showInfoSmallField" title="@Strings.ShowInfoSmallField" prompt="@Strings.ShowInfoPrompt">
        <settingConfig type="list">
            <listEntry value="0">@Strings.ShowInfoNothing</listEntry>
            <listEntry value="1">@Strings.ShowInfoTimeOfDay</listEntry>            
            <listEntry value="2">@Strings.ShowInfoTemperature</listEntry>
			<listEntry value="3">@Strings.ShowInfoAmbientPressure</listEntry>
			<listEntry value="4">@Strings.ShowInfoSealevelPressure</listEntry>
			<listEntry value="5">@Strings.ShowInfoDistance</listEntry>
        </settingConfig>
    </setting>      
	 <setting propertyKey="@Properties.showInfoLargeField" title="@Strings.ShowInfoLargeField" prompt="@Strings.ShowInfoPrompt">
        <settingConfig type="list">
            <listEntry value="0">@Strings.ShowInfoNothing</listEntry>
            <listEntry value="1">@Strings.ShowInfoTimeOfDay</listEntry>            
            <listEntry value="2">@Strings.ShowInfoTemperature</listEntry>
			<listEntry value="3">@Strings.ShowInfoAmbientPressure</listEntry>
			<listEntry value="4">@Strings.ShowInfoSealevelPressure</listEntry>
			<listEntry value="5">@Strings.ShowInfoDistance</listEntry>
        </settingConfig>
    </setting>      
	
	<setting propertyKey="@Properties.alertLevelPrecipitationChance" title="@Strings.AlertLevelprecipitationChance">
		<settingConfig type="numeric" min="0" max="100" />
	</setting>	
	<setting propertyKey="@Properties.alertLevelRainMMfirstHour" title="@Strings.AlertLevelRainMMfirstHour">
		<settingConfig type="numeric" min="0" max="100" />
	</setting>
	<setting propertyKey="@Properties.alertLevelUVi" title="@Strings.AlertLevelUVi">
		<settingConfig type="numeric" min="0" max="20" />
	</setting>
	<setting propertyKey="@Properties.alertLevelWindSpeed" title="@Strings.AlertLevelWindSpeed">
		<settingConfig type="numeric" min="0" />
	</setting>	
	<setting propertyKey="@Properties.alertLevelDewpoint" title="@Strings.AlertLevelDewpoint">
		<settingConfig type="numeric" min="0" />
	</setting>	
	
	<setting propertyKey="@Properties.maxTemperature" title="@Strings.MaxTemperature">
		<settingConfig type="numeric" min="0" max="100"/>
	</setting>	
	<setting propertyKey="@Properties.maxPressure" title="@Strings.MaxPressure">
		<settingConfig type="numeric" min="0" max="1200"/>
	</setting>	
	<setting propertyKey="@Properties.minPressure" title="@Strings.MinPressure">
		<settingConfig type="numeric" min="0" max="1200"/>
	</setting>	

	<setting propertyKey="@Properties.comfortHumidityMin" title="@Strings.ComfortHumidityMin">
		<settingConfig type="numeric" min="0" max="100" />
	</setting>
	<setting propertyKey="@Properties.comfortHumidityMax" title="@Strings.ComfortHumidityMax">
		<settingConfig type="numeric" min="0" max="100" />
	</setting>
	<setting propertyKey="@Properties.comfortTempMin" title="@Strings.ComfortTempMin">
		<settingConfig type="numeric" min="0" max="100" />
	</setting>
	<setting propertyKey="@Properties.comfortTempMax" title="@Strings.ComfortTempMax">
		<settingConfig type="numeric" min="0" max="100" />
	</setting>		
				
    
	<setting propertyKey="@Properties.testScenario" title="@Strings.TestScenario">
		<settingConfig type="numeric" min="0" max="2" />		
	</setting>
</settings>
